* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.box {
    height: 100vh;
    position: relative;
}

.box img {
    width: 550px;
}

.content-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-box p {
    color: #ffff00;
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    font-family: 'Russo One', sans-serif;
}

.shortcut {
    position: fixed;
    left: 0;
    top: 40px;
    /* right: 200px; */
    width: 100%;
    z-index: 5;        /*NB. z-index 1 */
}

.shortcut-container {
    width: 1200px;
    margin: 0 auto;
}

.fr {
    float: right;
}

.button a {
    margin: 0 15px;
    padding: 15px 20px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50%;
    background-color: white;
    font-family: 'Russo One', sans-serif;
}

/*class utility*/
/*------------------------------------------*/

.box-1 {
    background-color: red;
}

.box-2 {
    background-color: green;
}

.box-3 {
    background-color: #ffff00;
}

.box-3 p {
    color: green;
}

.box::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-color: black;
    z-index: 2;    
}

.box:hover::after {
    opacity: 0;
}